doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles/main.css')
    title The PIxEL Foundation
  body
    nav.navbar.navbar-default.navbar-pixel.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') X
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') About
    video.bgvid(autoplay preload='auto' loop)
      source(src='videos/loop.webm' type='video/webm')
      source(src='videos/loop.mp4' type='video/mp4')
    .px-jumbotron.bg.container
      div
      div
        include logo.svg
      //- h2.flex Invest in education that matters.
      h2 Invest in education that matters
      div
    canvas#main-canvas.bg
    script(src='/bower_components/canvas-5-polyfill/canvas.js')
    script(src='/scripts/main.js')
    // script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
